<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .err {
            width: 400px;
            height: 400px;
            text-align: center;
            line-height: 400px;
            background: #cccccc;
            margin: 200px auto;
        }
    </style>
</head>
<body>
    <div class="err">
        <%=message%>
    </div>
</body>
</html>